:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: center;
  text-align: center;
  padding: 2rem;
}

.header {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
